.action-buttons {
  white-space: nowrap;
  font-size: 0.95rem;

  .action-item,
  .divider {
    display: inline-block;
    vertical-align: middle;
  }

  .action-item {
    color: #007ad9;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #005fa3;
      text-decoration: underline;
    }

    &.delete {
      color: #d32f2f;

      &:hover {
        color: #b71c1c;
      }
    }
  }

  .divider {
    margin: 0 6px;
    color: #999;
    font-weight: 500;
    pointer-events: none;
  }
}

.table-controls {
  display: flex;
  gap: 0.5rem;
}

.table-controls-right {
  display: flex;
  justify-content: flex-end; // Push content to the right
  margin-bottom: 1rem;

  p-button {
    min-width: 10rem;

    ::ng-deep .p-button {
      background-color: #007ad9;
      color: white;
      padding: 10px 20px;
      border: none;

      &:hover {
        background-color: #005fa3;
      }
    }
  }
}
